* { /* reset de estilos padrão para navegadores diferentes */ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {  /* estilo do corpo da página */
   font-family: Arial, sans-serif;
   background-color: #000;
   line-height: 1.6;
   color: #f8b3d9;
   display: flex; 
   flex-direction: column;
   align-items: center; 
}

header { /* estilos do cabeçalho */
   background-color: #1a1a1a;
   padding: 20px 0; 
   width: 100%;
   text-align: center; 
}

nav ul { /* estilo das listas de navegação */
   list-style-type: none;
   display: flex; 
   justify-content: center; 
   gap: 20px;
}

nav a { /* estilo dos links de navegação */
   text-decoration: none;
   color: white;
   font-weight: bold;
   padding: 10px 15px; 
   border-radius: 5px; 
   transition: background-color 0.3s;
}

nav a:hover { /* feito ao passar mouse em cima dos links de navegaçao */
   background-color: #333; 
}

main { /* estilo do conteúdo principal */
   padding: 20px 0;
   width: 80%;
   text-align: center;
}

footer { /* estilos do rodapé da página */ 
   background-color: #4c6375;
   color: white;
   text-align: center;
   padding: 20px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
}

a:focus, /* estilo para mostrar quando os links estão selecionados */
button:focus,
input:focus {
   outline: 2px solid #f8b3d9;
   outline-offset: 2px;
}

#formacao .curso { /* para ter um espaço abaixo de cada curso */
   margin-bottom: 30px; 
}

#formacao h3 { /* espaço abaixo do titulo do curso */
   margin-bottom: 10px; 
}

#sobre {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 40px 0; 
}

#sobre p {
   text-align: justify;
   max-width: 800px;
   margin: 20px auto;
   font-size: 18px;
   line-height: 1.8;
}

#sobre h2 {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: bold;
}

.profile-pic {
   width: 150px; 
   border-radius: 50%;
   border: 3px solid #f8b3d9; 
}

#contato {
   padding: 40px 0;
   padding-bottom: 80px;
}

#contato label {
   display: block;
   margin-bottom: 10px;
}

#contato input,
#contato textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #f8b3d9;
   border-radius: 5px;
}

#contato button {
   padding: 10px 20px;
   background-color: #f8b3d9;
   color: #000;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s; 
}

#contato button:hover {
   background-color: #ffddf0;
}

.github-link {
   color: #f8b3d9;
   text-decoration: none; 
   font-weight: bold;
   transition: color 0.3s;

}

.github-link:hover {
   color: #ffddf0;   /* cor quando o mouse está sobre o link */
}
